<form>
    <div class="form-group row">
        <label class="col-md-4">Nama Rak Buku</label>
        <div class="col-md-8">
            <input
                [(ngModel)]="formModel.nama"
                type="text"
                name="nama"
                class="form-control"
                placeholder="Nama Rak Buku"
            />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary" (click)="save()">
                Simpan
            </button>
        </div>
    </div>
</form>
