<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>Daftar Rak Buku</h1>
                    <div
                        role="group"
                        class="btn-group btn-group-sm btn-group-justified blocks"
                    >
                        <button
                            type="button"
                            class="btn btn-sm btn-primary mr-2"
                            (click)="createRakBuku(formRakBuku)"
                        >
                            <i
                                class="fa fa-plus font-size-14 align-middle mr-1"
                            ></i>
                            Tambah Rak Buku
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table
                        datatable
                        class="table table-hover table-bordered mobile-optimised mb-0"
                        id="table-rak-buku"
                        data-page-length="20"
                        [dtOptions]="dtOptions"
                    >
                        <thead class="thead-light">
                            <tr>
                                <td width="10">No</td>
                                <td>Nama</td>
                                <td width="90">Aksi</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="listRakBuku; else empty">
                                <tr *ngFor="let val of listRakBuku; index as i">
                                    <td class="vertical-middle text-center">{{ i + 1 }}</td>
                                    <td class="vertical-middle">
                                        {{ val.nama }}
                                    </td>
                                    <td class="vertical-middle text-right">
                                        <a
                                            href="javascript: void(0);"
                                            class="align-middle mr-2"
                                            (click)="
                                                updateRakBuku(formRakBuku, val)
                                            "
                                            placement="left"
                                            container="body"
                                            ngbTooltip="Ubah"
                                        >
                                            <i
                                                class="fa fa-edit font-size-14"
                                            ></i>
                                        </a>
                                        <a
                                            href="javascript: void(0);"
                                            class="align-middle"
                                            (click)="deleteRakBuku(val.id)"
                                            placement="left"
                                            container="body"
                                            ngbTooltip="Hapus"
                                        >
                                            <i
                                                class="fa fa-trash font-size-14"
                                            ></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #empty>
                                <tr>
                                    <td colspan="7">Data Empty</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #formRakBuku let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{ titleModal }}</h5>
        <button
            type="button"
            class="close"
            (click)="modal.close()"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-form-rak-buku
            [rakBukuId]="modelId"
            (afterSave)="modal.close(); reload()"
        ></app-form-rak-buku>
    </div>
</ng-template>
