<div class="container-fluid" *ngIf="!isOpenForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>Daftar Buku</h1>
                    <div
                        role="group"
                        class="btn-group btn-group-sm btn-group-justified blocks"
                    >
                        <!-- <button
                            type="button"
                            class="btn btn-sm btn-outline-secondary mr-2"
                        >
                            <i
                                class="fa fa-search font-size-14 align-middle mr-1"
                            ></i>
                            Pencarian
                        </button> -->
                        <button
                            type="button"
                            class="btn btn-sm btn-primary mr-2"
                            (click)="createBuku()"
                        >
                            <i
                                class="fa fa-plus font-size-14 align-middle mr-1"
                            ></i>
                            Tambah Buku
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table
                        datatable
                        class="table table-hover table-bordered mobile-optimised mb-0"
                        id="table-item"
                        data-page-length="20"
                        [dtOptions]="dtOptions"
                    >
                        <thead class="thead-light">
                            <tr>
                                <td>No</td>
                                <td>Gambar</td>
                                <td>Rak Buku</td>
                                <td>Kategori Buku</td>
                                <td>Judul</td>
                                <td>ISBN</td>
                                <td>Penulis</td>
                                <td>Penerbit</td>
                                <td>Tahun terbit</td>
                                <td>Jumlah</td>
                                <td>Status</td>
                                <td width="90">Aksi</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="listBooks; else empty">
                                <tr *ngFor="let val of listBooks; index as i">
                                    <td class="vertical-middle text-center">{{ i + 1 }}</td>
                                    <td>
                                        <img
                                            src="{{ val.gambarUrl }}"
                                            width="80px"
                                        />
                                    </td>
                                    <td class="vertical-middle">
                                        {{ val.rak.nama }}
                                    </td>
                                    <td class="vertical-middle">
                                        {{ val.kategori.nama }}
                                    </td>
                                    <td class="vertical-middle">
                                        {{ val.judul }}
                                    </td>
                                    <td class="vertical-middle">
                                        {{ val.isbn }}
                                    </td>
                                    <td class="vertical-middle">
                                        {{ val.penulis }}
                                    </td>
                                    <td class="vertical-middle">
                                        {{ val.penerbit }}
                                    </td>
                                    <td class="vertical-middle text-center">
                                        {{ val.tahun_terbit }}
                                    </td>
                                    <td class="vertical-middle text-center">
                                        {{ val.jumlah }}
                                    </td>
                                    <td class="vertical-middle">
                                        <span
                                            class="badge badge-success"
                                            *ngIf="val.status == 1; else non"
                                            >Ada</span
                                        >
                                        <ng-template #non>
                                            <span class="badge badge-danger"
                                                >Tidak Ada</span
                                            >
                                        </ng-template>
                                    </td>
                                    <td class="vertical-middle text-right">
                                        <a
                                            href="javascript: void(0);"
                                            class="align-middle mr-2"
                                            (click)="updateBuku(val)"
                                            placement="left"
                                            container="body"
                                            ngbTooltip="Ubah"
                                        >
                                            <i
                                                class="fa fa-edit font-size-14"
                                            ></i>
                                        </a>
                                        <a
                                            href="javascript: void(0);"
                                            class="align-middle"
                                            (click)="deleteBuku(val.id)"
                                            placement="left"
                                            container="body"
                                            ngbTooltip="Hapus"
                                        >
                                            <i
                                                class="fa fa-trash font-size-14"
                                            ></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #empty>
                                <tr>
                                    <td colspan="7">Data Empty</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isOpenForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>
                        {{ titleCard }}
                    </h1>
                </div>
                <div class="card-body">
                    <app-form-buku
                        [bukuId]="modelId"
                        (afterSave)="showForm(false); reload()"
                    ></app-form-buku>
                </div>
            </div>
        </div>
    </div>
</div>
