<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-4 required">Rak Buku</label>
                <div class="col-md-8">
                    <ng-select
                        [(ngModel)]="formModel.rak"
                        [items]="listRakBuku"
                        bindLabel="nama"
                        placeholder="Rak Buku"
                        appendTo="body"
                        name="id"
                    ></ng-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 required">Kategori Buku</label>
                <div class="col-md-8">
                    <ng-select
                        [(ngModel)]="formModel.kategori"
                        [items]="listKategoriBuku"
                        bindLabel="nama"
                        placeholder="Kategori Buku"
                        appendTo="body"
                        name="id"
                    ></ng-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4">Judul Buku</label>
                <div class="col-md-8">
                    <input
                        [(ngModel)]="formModel.judul"
                        type="text"
                        name="judul"
                        class="form-control"
                        placeholder="Judul Buku"
                    />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4">ISBN</label>
                <div class="col-md-8">
                    <input
                        [(ngModel)]="formModel.isbn"
                        type="text"
                        name="isbn"
                        class="form-control"
                        placeholder="ISBN"
                    />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4">Penulis Buku</label>
                <div class="col-md-8">
                    <input
                        [(ngModel)]="formModel.penulis"
                        type="text"
                        name="penulis"
                        class="form-control"
                        placeholder="Penulis Buku"
                    />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4">Penerbit Buku</label>
                <div class="col-md-8">
                    <input
                        [(ngModel)]="formModel.penerbit"
                        type="text"
                        name="penerbit"
                        class="form-control"
                        placeholder="Penerbit Buku"
                    />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4">Tahun Terbit Buku</label>
                <div class="col-md-8">
                    <ng-select
                        [(ngModel)]="formModel.tahun_terbit"
                        [items]="listYear"
                        bindLabel="text"
                        placeholder="Year"
                        appendTo="body"
                        name="value"
                    ></ng-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4">Jumlah</label>
                <div class="col-md-8">
                    <input
                        [(ngModel)]="formModel.jumlah"
                        type="text"
                        name="jumlah"
                        class="form-control"
                        placeholder="Jumlah"
                    />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-4">Deskripsi Singkat</label>
                <div class="col-md-8">
                    <textarea
                        class="form-control"
                        [(ngModel)]="formModel.deskripsi"
                        name="deskripsi"
                        placeholder="Tuliskan detail mengenai buku"
                        rows="3"
                    ></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4">Gambar</label>
                <div class="col-md-8">
                    <img
                        [src]="
                            gambarPreview ? gambarPreview : formModel.gambarUrl
                        "
                        width="200px"
                        class="img-thumbnail"
                        alt=""
                    />
                    <input
                        (change)="fileChangeEvent($event)"
                        type="file"
                        name="gambar"
                        class="form-control"
                        id="gambar"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-12 text-right">
                    <button
                        type="button"
                        class="btn btn-outline-secondary mr-2"
                        (click)="back()"
                    >
                        Daftar Buku
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="save()"
                    >
                        Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
