<form>
    <div class="form-group row">
        <label class="col-md-4 required">No. Invoice Peminjaman</label>
        <div class="col-md-8">
            <ng-select
                [disabled]="mode == 'edit'"
                [(ngModel)]="formModel.peminjaman"
                [items]="listTransaksiPeminjaman"
                bindLabel="no_invoice"
                placeholder="Peminjaman"
                appendTo="body"
                name="id"
            ></ng-select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 required">Tanggal Pengembalian</label>
        <div class="col-md-8">
            <input
                [(ngModel)]="formModel.tanggal_pengembalian"
                type="date"
                name="tanggal_pengembalian"
                class="form-control"
                placeholder="tanggal pengembalian"
            />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4"></label>
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary" (click)="save()">
                Simpan
            </button>
        </div>
    </div>
</form>
