<form>
    <div class="form-group row">
        <label class="col-md-3 required">User</label>
        <div class="col-md-9">
            <ng-select
                [(ngModel)]="formModel.user"
                [items]="listUsers"
                bindLabel="nama"
                placeholder="User"
                appendTo="body"
                name="id"
            ></ng-select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 required">Buku</label>
        <div class="col-md-9">
            <ng-multiselect-dropdown
                [settings]="dropdownBukuSettings"
                [data]="dropdownListBuku"
                [ngModel]="formModel.buku"
                name="buku"
                placeholder="Pilih buku"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelect)="onItemDeSelect($event)"
                (onDeSelectAll)="onUnSelectAll()"
            >
            </ng-multiselect-dropdown>
            <!-- <ng-select
                [(ngModel)]="formModel.buku"
                [items]="listBuku"
                bindLabel="judul"
                placeholder="Buku"
                appendTo="body"
                name="id"
            ></ng-select> -->
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 required">Tanggal Pinjam</label>
        <div class="col-md-9">
            <input
                [(ngModel)]="formModel.tanggal_pinjam"
                type="date"
                name="tanggal_pinjam"
                class="form-control"
                placeholder="tanggal pinjam"
            />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 required">Jumlah hari peminjaman</label>
        <div class="col-md-9">
            <input
                [(ngModel)]="formModel.jumlah_hari_pinjam"
                type="number"
                name="jumlah_hari_pinjam"
                class="form-control"
                placeholder="Jumlah hari pinjam"
            />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4"></label>
        <div class="col-md-9">
            <button type="submit" class="btn btn-primary" (click)="save()">
                Simpan
            </button>
        </div>
    </div>
</form>
