<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>
                        Daftar Pengguna
                    </h1>
                    <div role="group" class="btn-group btn-group-sm btn-group-justified blocks">
                        <!-- <a href="javascript: void(0);" [routerLink]="['/master/roles']" class="btn btn-sm btn-outline-info mr-2">
                            <i class="fa fa-cogs font-size-14 align-middle mr-1"></i> Hak Akses
                        </a> -->
                        <!-- <button  type="button" class="btn btn-sm btn-outline-secondary mr-2">
                            <i class="fa fa-search font-size-14 align-middle mr-1"></i> Pencarian
                        </button> -->
                        <button type="button" class="btn btn-sm btn-primary mr-2" (click)="createUser(formUser)">
                            <i class="fa fa-plus font-size-14 align-middle mr-1"></i> Tambah User
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <td width="80"></td>
                                <td>Nama</td>
                                <td>Email</td>
                                <td>Hak Akses</td>
                                <td width="90"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let val of listUser; index as i; trackBy:trackByIndex">
                                <td><img src="{{val.fotoUrl}}" class="rounded-circle img-thumb"></td>
                                <td class="vertical-middle">{{val.nama}}</td>
                                <td class="vertical-middle">{{val.email}}</td>
                                <td class="vertical-middle">{{val.akses}}</td>
                                <td class="vertical-middle text-right">
                                    <a href="javascript: void(0);" class="align-middle mr-2" (click)="updateUser(formUser, val)" placement="left" container="body" ngbTooltip="Ubah">
                                        <i class="fa fa-edit font-size-14"></i>
                                    </a>
                                    <a href="javascript: void(0);" class="align-middle" (click)="deleteUser(val.id)" placement="left" container="body" ngbTooltip="Hapus">
                                        <i class="fa fa-trash font-size-14"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #formUser let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{titleModal}}</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <user-form [userId]="modelId" (afterSave)="modal.close(); getUser()"></user-form>
    </div>
</ng-template>
