<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>Daftar Hak Akses</h1>
                    <div
                        role="group"
                        class="btn-group btn-group-sm btn-group-justified blocks"
                    >
                        <!-- <a
                            href="javascript: void(0);"
                            [routerLink]="['/master/users']"
                            class="btn btn-sm btn-outline-info mr-2"
                        >
                            <i
                                class="fa fa-user font-size-14 align-middle mr-1"
                            ></i>
                            User
                        </a> -->
                        <!-- <button
                            type="button"
                            class="btn btn-sm btn-outline-secondary mr-2"
                        >
                            <i
                                class="fa fa-search font-size-14 align-middle mr-1"
                            ></i>
                            Pencarian
                        </button> -->
                        <button
                            type="button"
                            class="btn btn-sm btn-primary mr-2"
                            (click)="createRole(formRole)"
                        >
                            <i
                                class="fa fa-plus font-size-14 align-middle mr-1"
                            ></i>
                            Tambah Hak Akses
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table
                        datatable
                        data-page-length="20"
                        [dtOptions]="dtOptions"
                        class="table table-hover"
                    >
                        <thead class="thead-light">
                            <tr>
                                <td>Nama</td>
                                <td>Super Admin</td>
                                <td width="90"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let val of listRoles;
                                    index as i;
                                "
                            >
                                <td class="vertical-middle">{{ val.nama }}</td>
                                <td class="vertical-middle">
                                    <span
                                        class="badge badge-success"
                                        *ngIf="val.is_admin == 1; else non"
                                    >
                                        Ya
                                    </span>
                                    <ng-template #non>
                                        <span class="badge badge-danger"
                                            >Tidak</span
                                        >
                                    </ng-template>
                                </td>
                                <td class="vertical-middle text-right">
                                    <a
                                        href="javascript: void(0);"
                                        class="align-middle mr-2"
                                        (click)="updateRole(formRole, val)"
                                        placement="left"
                                        container="body"
                                        ngbTooltip="Ubah"
                                    >
                                        <i class="fa fa-edit font-size-14"></i>
                                    </a>
                                    <a
                                        href="javascript: void(0);"
                                        class="align-middle"
                                        (click)="deleteRole(val.id)"
                                        placement="left"
                                        container="body"
                                        ngbTooltip="Hapus"
                                    >
                                        <i class="fa fa-trash font-size-14"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #formRole let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{ titleModal }}</h5>
        <button
            type="button"
            class="close"
            (click)="modal.close()"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <role-form
            [roleId]="modelId"
            (afterSave)="modal.close(); reload()"
        ></role-form>
    </div>
</ng-template>
