<ng-container *ngIf="userLogin?.is_admin == 1">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <i
                                class="mdi mdi-inbox-arrow-up text-danger"
                                style="font-size: 40px"
                            ></i>
                            <h5>Total Peminjaman Kemarin</h5>
                            <h2 class="text-dark">
                                {{
                                    formatRupiah(
                                        listLaporanDashboard?.dipinjam_hari_kemarin
                                    )
                                }}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <i
                                class="mdi mdi-inbox-arrow-up text-danger"
                                style="font-size: 40px"
                            ></i>
                            <h5>Total Peminjaman Bulan Lalu</h5>
                            <h2 class="text-dark">
                                {{
                                    formatRupiah(
                                        listLaporanDashboard?.dipinjam_bulan_lalu
                                    )
                                }}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <i
                                class="mdi mdi-inbox-arrow-up text-danger"
                                style="font-size: 40px"
                            ></i>
                            <h5>Total Peminjaman Hari Ini</h5>
                            <h2 class="text-dark">
                                {{
                                    formatRupiah(
                                        listLaporanDashboard?.dipinjam_hari_ini
                                    )
                                }}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <i
                                class="mdi mdi-inbox-arrow-up text-danger"
                                style="font-size: 40px"
                            ></i>
                            <h5>Total Peminjaman Bulan Ini</h5>
                            <h2 class="text-dark">
                                {{
                                    formatRupiah(
                                        listLaporanDashboard?.dipinjam_bulan_ini
                                    )
                                }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <i
                                class="mdi mdi-inbox-arrow-down text-success"
                                style="font-size: 40px"
                            ></i>
                            <h5>Total Pengembalian Kemarin</h5>
                            <h2 class="text-dark">
                                {{
                                    formatRupiah(
                                        listLaporanDashboard?.dikembalikan_hari_kemarin
                                    )
                                }}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <i
                                class="mdi mdi-inbox-arrow-down text-success"
                                style="font-size: 40px"
                            ></i>
                            <h5>Total Pengembalian Bulan Lalu</h5>
                            <h2 class="text-dark">
                                {{
                                    formatRupiah(
                                        listLaporanDashboard?.dikembalikan_bulan_lalu
                                    )
                                }}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <i
                                class="mdi mdi-inbox-arrow-down text-success"
                                style="font-size: 40px"
                            ></i>
                            <h5>Total Pengembalian Hari Ini</h5>
                            <h2 class="text-dark">
                                {{
                                    formatRupiah(
                                        listLaporanDashboard?.dikembalikan_hari_ini
                                    )
                                }}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <i
                                class="mdi mdi-inbox-arrow-down text-success"
                                style="font-size: 40px"
                            ></i>
                            <h5>Total Pengembalian Bulan Ini</h5>
                            <h2 class="text-dark">
                                {{
                                    formatRupiah(
                                        listLaporanDashboard?.dikembalikan_bulan_ini
                                    )
                                }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <canvas id="myChart" width="1000" height="500"></canvas>
</ng-container>
<ng-container *ngIf="userLogin?.is_admin == 0">
    <h1>Selamat Datang</h1>
</ng-container>
