<form>
    <div class="form-group row">
        <label class="col-md-4 required">Nama</label>
        <div class="col-md-8">
            <input
                [(ngModel)]="formModel.nama"
                type="text"
                name="nama"
                class="form-control"
                placeholder="Nama Hak Akses"
            />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4">Super Admin</label>
        <div class="col-md-8">
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="formModel.is_admin"
                    role="switch"
                    id="is_admin"
                    name="is_admin"
                />
            </div>
        </div>
    </div>
    <div class="form-group row mt-4">
        <div class="col-md-12">
            <ngb-tabset [justify]="'justified'">
                <ngb-tab title="Pengaturan">
                    <ng-template ngbTabContent>
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nama Menu / Fitur</th>
                                    <th class="text-center">View</th>
                                    <th class="text-center">Create</th>
                                    <th class="text-center">Update</th>
                                    <th class="text-center">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Hak Akses</td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.roles.view
                                                "
                                                name="roles_view"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.roles.create
                                                "
                                                name="roles_create"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.roles.update
                                                "
                                                name="roles_update"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.roles.delete
                                                "
                                                name="roles_delete"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>User</td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.user.view
                                                "
                                                name="user_view"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.user.create
                                                "
                                                name="user_create"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.user.update
                                                "
                                                name="user_update"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.user.delete
                                                "
                                                name="user_delete"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Rak Buku</td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.rak_buku
                                                        .view
                                                "
                                                name="rak_buku_view"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.rak_buku
                                                        .create
                                                "
                                                name="rak_buku_create"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.rak_buku
                                                        .update
                                                "
                                                name="rak_buku_update"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.rak_buku
                                                        .delete
                                                "
                                                name="rak_buku_delete"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kategori Buku</td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses
                                                        .kategori_buku.view
                                                "
                                                name="kategori_buku_view"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses
                                                        .kategori_buku.create
                                                "
                                                name="kategori_buku_create"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses
                                                        .kategori_buku.update
                                                "
                                                name="kategori_buku_update"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses
                                                        .kategori_buku.delete
                                                "
                                                name="kategori_buku_delete"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Buku</td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.buku.view
                                                "
                                                name="buku_view"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.buku.create
                                                "
                                                name="buku_create"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.buku.update
                                                "
                                                name="buku_update"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.buku.delete
                                                "
                                                name="buku_delete"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Transaksi">
                    <ng-template ngbTabContent>
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nama Menu / Fitur</th>
                                    <th class="text-center">View</th>
                                    <th class="text-center">Create</th>
                                    <th class="text-center">Update</th>
                                    <th class="text-center">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Transaksi</td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.transaksi
                                                        .view
                                                "
                                                name="transaksi_view"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.transaksi
                                                        .create
                                                "
                                                name="transaksi_create"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.transaksi
                                                        .update
                                                "
                                                name="transaksi_update"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div
                                            class="form-check form-check-inline"
                                        >
                                            <input
                                                [(ngModel)]="
                                                    formModel.akses.transaksi
                                                        .delete
                                                "
                                                name="transaksi_delete"
                                                class="form-check-input"
                                                type="checkbox"
                                                value="true"
                                            />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Laporan">
                    <ng-template ngbTabContent> </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary" (click)="save()">
                Simpan
            </button>
        </div>
    </div>
</form>
