<div class="container-fluid" *ngIf="!isOpenForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>Daftar Transaksi</h1>
                    <div
                        role="group"
                        class="btn-group btn-group-sm btn-group-justified blocks"
                    >
                        <div class="alert alert-primary mb-0" role="alert">
                            Denda : Rp. 1000/hari
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table
                        datatable
                        class="table table-hover table-bordered mobile-optimised mb-0"
                        id="table-item"
                        data-page-length="20"
                        [dtOptions]="dtOptions"
                    >
                        <thead class="thead-light">
                            <tr>
                                <td>No</td>
                                <td>No. Invoice</td>
                                <td>Rak Buku</td>
                                <td>Kategori Buku</td>
                                <td>Judul Buku</td>
                                <td>ISBN</td>
                                <td>Tanggal Pinjam</td>
                                <td>Tanggal Estimasi Kembali</td>
                                <td>Jumlah Hari Peminjaman</td>
                                <td>Tanggal Pengembalian</td>
                                <td>Jumlah Hari Telat</td>
                                <td>Total Denda</td>
                                <td>Status</td>
                                <td width="90">Aksi</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="listTransaksi; else empty">
                                <ng-container
                                    *ngFor="
                                        let val of listTransaksi;
                                        index as i
                                    "
                                >
                                    <tr>
                                        <td
                                            class="text-center"
                                            style="vertical-align: middle"
                                            [rowSpan]="val.details?.length"
                                        >
                                            {{ i + 1 }}
                                        </td>
                                        <td
                                            class="vertical-middle"
                                            style="vertical-align: middle"
                                            [rowSpan]="val.details?.length"
                                        >
                                            {{ val.no_invoice }}
                                        </td>
                                        <td class="vertical-middle">
                                            {{ val.details[0].buku?.rak?.nama }}
                                        </td>
                                        <td class="vertical-middle">
                                            {{
                                                val.details[0].buku?.kategori
                                                    ?.nama
                                            }}
                                        </td>
                                        <td class="vertical-middle">
                                            {{ val.details[0].buku?.judul }}
                                        </td>
                                        <td class="vertical-middle">
                                            {{ val.details[0].buku?.isbn }}
                                        </td>
                                        <td
                                            class="vertical-middle text-center"
                                            style="vertical-align: middle"
                                            [rowSpan]="val.details?.length"
                                        >
                                            {{ formatDate(val.tanggal_pinjam) }}
                                        </td>
                                        <td
                                            class="vertical-middle text-center"
                                            [rowSpan]="val.details?.length"
                                            style="vertical-align: middle"
                                        >
                                            {{
                                                formatDate(val.estimasi_kembali)
                                            }}
                                        </td>
                                        <td
                                            class="vertical-middle text-center"
                                            [rowSpan]="val.details?.length"
                                            style="vertical-align: middle"
                                        >
                                            {{
                                                val.jumlah_hari_pinjam
                                                    ? val.jumlah_hari_pinjam
                                                    : 0
                                            }}
                                            hari
                                        </td>
                                        <td
                                            class="vertical-middle text-center"
                                            [rowSpan]="val.details?.length"
                                            style="vertical-align: middle"
                                        >
                                            {{
                                                formatDate(
                                                    val.tanggal_pengembalian
                                                )
                                            }}
                                        </td>
                                        <td
                                            class="vertical-middle text-center"
                                            [rowSpan]="val.details?.length"
                                            style="vertical-align: middle"
                                        >
                                            {{
                                                val.jumlah_telat
                                                    ? val.jumlah_telat
                                                    : 0
                                            }}
                                            hari
                                        </td>
                                        <td
                                            class="vertical-middle text-center"
                                            [rowSpan]="val.details?.length"
                                            style="vertical-align: middle"
                                        >
                                            Rp {{ val.total_denda }}
                                        </td>
                                        <td
                                            class="vertical-middle"
                                            [rowSpan]="val.details?.length"
                                            style="vertical-align: middle"
                                        >
                                            <span
                                                class="badge badge-success"
                                                *ngIf="
                                                    val.status == 'dipinjam';
                                                    else non
                                                "
                                                >DIPINJAM</span
                                            >
                                            <ng-template #non>
                                                <span class="badge badge-danger"
                                                    >DIKEMBALIKAN</span
                                                >
                                            </ng-template>
                                        </td>
                                        <td
                                            class="vertical-middle text-right"
                                            [rowSpan]="val.details?.length"
                                            style="vertical-align: middle"
                                        >
                                            <a
                                                href="javascript: void(0);"
                                                class="align-middle mr-2"
                                                placement="left"
                                                container="body"
                                                ngbTooltip="Ubah"
                                                (click)="
                                                    detail(formDetail, val)
                                                "
                                            >
                                                <i
                                                    class="fa fa-eye font-size-14"
                                                ></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <ng-container
                                        *ngFor="
                                            let number of counter(
                                                val.details?.length
                                            );
                                            index as i
                                        "
                                    >
                                        <tr *ngIf="i > 0">
                                            <td>
                                                {{
                                                    val.details[i].buku?.rak
                                                        ?.nama
                                                }}
                                            </td>
                                            <td>
                                                {{
                                                    val.details[i].buku
                                                        ?.kategori?.nama
                                                }}
                                            </td>
                                            <td>
                                                {{ val.details[i].buku?.judul }}
                                            </td>
                                            <td>
                                                {{ val.details[i].buku?.isbn }}
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <ng-template #empty>
                                <tr>
                                    <td colspan="7">Data Empty</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #formDetail let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{ titleModal }}</h5>
        <button
            type="button"
            class="close"
            (click)="modal.close()"
            aria-label="Close"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-detail-transaksi
            [transaksiId]="modelId"
            (afterSave)="modal.close(); reload()"
        ></app-detail-transaksi>
    </div>
</ng-template>
