<div class="row">
    <div class="col-md-6">
        <h5>Data Buku</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">Rak Buku</div>
                    <div class="col-md-8">
                        {{ detail?.buku.rak?.nama }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">Kategori Buku</div>
                    <div class="col-md-8">
                        {{ detail?.buku.kategori?.nama }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">Judul Buku</div>
                    <div class="col-md-8">
                        {{ detail?.buku.judul }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">
                        Nama Penulis Buku
                    </div>
                    <div class="col-md-8">
                        {{ detail?.buku.penulis }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">
                        Nama Penerbit Buku
                    </div>
                    <div class="col-md-8">
                        {{ detail?.buku.penerbit }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">
                        Tahun Terbit Buku
                    </div>
                    <div class="col-md-8">
                        {{ detail?.buku.tahun_terbit }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">Jumlah</div>
                    <div class="col-md-8">
                        {{ detail?.buku.jumlah }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">Deskripsi Buku</div>
                    <div class="col-md-8">
                        {{ detail?.buku.deskripsi }}
                    </div>
                </div>
            </li>
            <hr />
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">STATUS</div>
                    <div class="col-md-8">
                        <span
                            class="badge badge-success"
                            *ngIf="detail?.status == 'dipinjam'; else non"
                            >DIPINJAM</span
                        >
                        <ng-template #non>
                            <span class="badge badge-danger">DIKEMBALIKAN</span>
                        </ng-template>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h5>Data Transaksi</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">No. Invoice</div>
                    <div class="col-md-8">
                        {{ detail?.no_invoice }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">Tanggal Pinjam</div>
                    <div class="col-md-8">
                        {{ formatDate(detail?.tanggal_pinjam)}}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">
                        Jumlah Hari Peminjaman
                    </div>
                    <div class="col-md-8">
                        {{ detail?.jumlah_hari_pinjam }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">
                        Estimasi Tanggal Kembali
                    </div>
                    <div class="col-md-8">
                        {{ formatDate(detail?.estimasi_kembali)}}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">
                        Tanggal Pengembalian
                    </div>
                    <div class="col-md-8">
                        {{ formatDate(detail?.tanggal_pengembalian) }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">
                        Jumlah Hari Telat Pengembalian
                    </div>
                    <div class="col-md-8">
                        {{ detail?.jumlah_telat }}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">Total Denda</div>
                    <div class="col-md-8">
                        Rp {{ formatRupiah(detail?.total_denda) }}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
